# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


BACKEND_RESPONSE_STRUCTURE.ts
CORS_EXPLIQUE.md 
CORS_GUIDE.md 
DASHBOARD_GESTIONNAIRE.md 
EXEMPLE_COMPOSANT.vue 
INTEGRATION_BACKEND.md 
TEST_API.md 

