@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --color-brand-blue: rgb(0, 0, 153);
  --color-brand-cyan: rgb(0, 206, 209);
  --color-brand-orange: rgb(255, 127, 0);
  --color-brand-gray-light: rgb(192, 192, 192);
}

@layer base {
    body {
        font-family: "Inter", sans-serif;
    }
}

@layer components {
    input[type="checkbox"]:checked~label span svg {
        @apply inline-flex;
    }

    .sticky .header-logo {
        @apply py-5;
    }

    @media (min-width: 1024px) {
        .sticky .header-logo {
            @apply py-2;
        }
    }

    .sticky .menu-scroll.active {
        @apply opacity-70;
    }

    input#togglePlan:checked~.dot {
        @apply translate-x-full;
    }

    input#checkboxLabel:checked~.box span {
        @apply opacity-100;
    }
}